@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
/* input {
    border: 1px solid black;
    padding: 10px;
    outline: yellow;
    width: 700px;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.card {
    padding: 1rem;
    background-color: white;
    border: 1px solid #761a1a;
    margin-top: 70px;
    cursor: pointer;
    transition: .3s linear;
}

.card:hover {
    box-shadow: 2px 2px 3px 4px #ce5ddf5a;
}

.cardcontainer {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.head-font {
    font-family: 'Kalam', 'cursive';
    font-size: 30px;
    font-weight: 600;
    /* padding-top: 15px; */
}

.para-font {
    /* padding-top: 10px; */
    font-family: 'Kalam', 'cursive';
    font-size: 22px;
    font-weight: 400;
}

.br_16 {
    border-radius: 10px;
}

.text_purple {
    color: #CD5DDF;
}